nav {

    background-color: transparent;
}

nav a {
    color: white;
    background-color: transparent;
}

nav a:hover {
    background-color: white;
    color: black;
}

a {
    color: white;
}

.dropbtn {
    color: white;
  }

.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.dropdown-content a {background-color: black; color: white}
.dropdown-content a:hover {background-color: white; color: black}

#home img{
    filter: invert(1);
    }

    #home:hover img{
        filter: invert(0);<
        }


  @media (max-width: 480px) {
.dropdown-content {background-color: transparent; box-shadow: 0 0 0 0 transparent;}
 .dropdown-content a {background-color: transparent;}
 nav {background-image: linear-gradient(rgba(0,0,0,.2), transparent);}
   }
  