:root {
    --bgcolor: white;
    --textcolor: black;
    --navcolor: black; 
    --accentcolor: rgb(100,130,220); /*rgb(152, 179, 0)*/
}

* {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font-family: monospace;
    font-size: 12pt;
    margin: 0;
}

b, h1, h2 {
    color: var(--accentcolor);
}

h1 {font-size: 18pt;}

img { background-color: transparent;}

body {
background-color: transparent;
}

img {

}

.logo img {
    object-fit: contain;
    padding: 6px;
    margin: 20px;
}

.logo {width: 750px; margin: auto; text-align: center;}

.text {
    max-width: 500px;
    margin: auto;
}

.dropdown .upcoming {
    color: gray;
}


.text img {
    max-width: 500px;
}

.index {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0;
    top: 0px;
    padding: 0;
    z-index: -1;
}



.index img {
    height: 100%;
    width: 100%;
    object-fit:cover;

}

.video {
    margin: auto;
    text-align: center;
    position: relative;
    aspect-ratio: 16 / 9;
    max-width: 750px;
}

.video iframe {
    width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;
    height: 100%;
}

.gallery {

    margin: auto;
    text-align: center;
}

.gallery img {
    width: 100%;
    max-width: 750px;
    margin: 0;
    padding: 4px 0;
}

div {
    padding: 10px;
}

span {
    text-align: center;
}

nav {
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
    text-align: left;
    background-color: transparent;
}

.latest {
    position: absolute;
    background-color: transparent;
    bottom: 100px;
    right: 175px;
    margin: auto;
}

#home img {
height: 25px;
width: 25px;
margin-bottom: -6px;
background-color: transparent;
margin-right: -3px;
}
#home {
    margin-right: 3px;
}

#home:hover img{
filter: invert(1);
}

.text-wide div {
    max-width: 500px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.text-wide {
    text-align: center;

}

.latest a {
position: absolute;
width: 100px;
text-align: center;
background-color: black;
color: white;
padding: 15px;
text-decoration: none;
}
.latest a:hover {
    background-color: white;
    color: black;
}



nav a {
    color: var(--navcolor);
    padding: 16px 6px;
    text-decoration: none;
    background-color: transparent;
}

a {
    color: var(--navcolor);
}

h1 img {
    width: 100%;
    max-width: 500px;
}

nav a:hover {
    background-color: var(--navcolor);
    color: var(--bgcolor);
}

footer{
    text-align: center;
    padding: 15px 0;
    bottom: 0;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
}

.dropbtn {
    background-color: transparent;
    color: var(--navcolor);
    padding: 16px 6px;
    margin: 0 -10px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bgcolor);
    min-width: 315px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    left: 0;
  }
  
  .dropdown-content a {
    color: var(--navcolor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
  }
  
  .dropdown-content a:hover {background-color: var(--navcolor);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: var(--navcolor); color: var(--bgcolor)}

  .light  {display: inline-block;}
  .dark {display: none;}

  @media (prefers-color-scheme: dark) {
:root {
--bgcolor: black;
--textcolor: rgb(180, 180, 180);
--navcolor: rgb(255, 255, 255);
--accentcolor: rgb(255, 255, 255); /*rgb(200,130,210)*/
}
.light  {display: none;}
.dark {display: inline-block; }
h1 img {filter: invert(1)}
.auto {filter: invert(1)}
#home img{
    filter: invert(1);
    }

    #home:hover img{
        filter: invert(0);
        }
    
  }